PUBLIC_SITE_URL=https://example.com
PUBLIC_BASE_PATH=/hp-l-simu
PUBLIC_FORMLET_ENDPOINT=https://formlet.example.com/api/f/example
PUBLIC_MATERIALS_PATH=/materials.pdf
PUBLIC_COMPANY_SITE_URL=https://a-key33.com/
PUBLIC_COMPANY_EMAIL=info@example.com
PUBLIC_COMPANY_TEL=000-0000-0000
